.pequenoimg {
width: 1600px;


}

h1 {
    color: rgb(0, 255, 42);
    font-family: fantasy;
}

h2 {
    font-family: tahoma;
    color: white;
    size: 20px;
}

h3 {
    font-family: tahoma;
    color: white;
    size: 20px;
}

h4 {
    font-family: tahoma;
    color: rgb(63, 255, 5);
}

.fundo {
    background-color: rgb(31, 31, 31);
}

p {
    color: white;
}

strong {
    color: green;
}

li {
    color: white;
    border:1;
}


nav > a {
    display: inline;
    text-align: center;
    margin-right: 20px;
    margin-left: 30px;
    color: white;
    background-color: rgb(61, 53, 53);
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}
nav > a:hover {
    background-color: rgb(26, 24, 24);
}

a {
    color: green;
}