h2 {
    font-family: fantasy;


}

.banner {
    width: 1600px
}

/* .menu {
    list-style:none;
border:1px solid #ffffff;
position:relative;
text-shadow: #333;
background-color: green;
font-family: verdana;




}



.menu li a:hover{
    color: none;

}

.menu li a{color:#ffffff; text-decoration:none; padding:5px 10px; display:block; display: inline-block;}

.menu li ul li {
    border:1px solid #c0c0c0;
    display:block;
    display: inline-block;

}

nav ul li {
    display: inline-block;
    padding: 20px 30px;
} */



.fundo {
    background-color: rgb(31, 31, 31);
}

h1 {
    font-family: 'noto sans';
    color: rgb(0, 255, 42);
}

p {
    color: white;
}

h2 {
    color: white;
    font-family: 'Franklin Gothic Medium';

    }
.imagem {
    width: 250px;
    height: 300px;
}
nav > a {
    display: inline;
    text-align: center;
    margin-right: 20px;
    margin-left: 30px;
    color: white;
    background-color: rgb(61, 53, 53);
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}
nav > a:hover {
    background-color: rgb(26, 24, 24);
}
#letra {
    display: flex;
    justify-content: center;
    margin: 30px;
}

    .mineletra {
        font-family: 'Courier New';
        color: rgb(0, 140, 255);
    }

    .ghast {
        color: orange;
        font-family: 'Courier New';
    }

    h3 {
        color: white;
        font-family: 'Franklin Gothic Medium';
    }

    .mei {
        justify-content: center;
    }