h2 {
    font-family: fantasy;


}

.banner {
    width: 1600px;
}

.center {
    text-align: center;
}

.menu {
    list-style: none;
    border: 1px solid black;
    position: relative;
    background-color: green;
    display: block;
    font-family: fantasy;
    color: aliceblue;
    text-shadow:0px 0px 5px #fff;
    text-decoration: none;
    
    


}

.fundo {
    background-color: black;
}
