h2 {
    font-family: fantasy;


}

.banner {
    width: 1600px;
}

.center {
    text-align: center;
}

.menu {
    list-style: none;
    border: 1px solid black;
    position: relative;
    background-color: green;
    display: block;
    font-family: Impact;
    color: aliceblue;
    text-shadow:0px 0px 5px #000000;
    text-decoration: none;

    


}

.fundo {
    background-color: grey;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


a:hover {
  color: blue;
}

nav ul li {
    display: inline-block;
    padding: 20px 30px;


}

h1 {
    font-family: monospace;
}